<h1> All Tracks </h1>

<hr/>
<div class="container-fluid">
  <% @tracks.each do |track| %>
    <div class="track_card col-xs-2" >

    <div class="track_img">
      <div class="track_detail">

        <h5>Contributor: <%= track.user.username %></h5>
        <%
        action = 'upvote'
        icon = 'heart-empty'
        if track.voted?(session[:user_id])
          action = 'downvote'
          icon = 'heart'
        end 
        %>

        <form method="POST" action="<%= action%>/<%= track.id%>">
          <button type="submit">
                <span class="glyphicon glyphicon-<%= icon %>"></span>
                <%=track.votes.count  %>
            </button>
        </form>

      </div>

      <img src="<%= track.url %>">
      
    </div>

      <div class="track_tag">
        <h4><a href="/tracks/<%= track.id %>"><%= track.title %></a> - <small><%= track.artist %></small></h4>
      </div>

    </div>

  <% end %>
</div>

<hr/>


<a href="/tracks/new">Add more Music to Our Collection!</a>
