<h1> All Tracks </h1>

<hr/>
<div class="container-fluid">
  <% @tracks.each do |track| %>
    <div class="track_card col-xs-2" >

    <div class="track_img">
      <div class="track_detail">

        <h5>Contributor: <%= track.user.username %></h5>

        <% @searched_vote = Vote.where(track_id: track.id).where(user_id: session[:user_id]) %>
        <% if @searched_vote.length > 0 %> 
          <form method="POST" action="downvote/<%= track.id %>" >
            <button type="submit">
                <span class="glyphicon glyphicon-heart"></span>
                <%=track.votes.count  %>
            </button>
          </form>
        <% else %>
          <form method="POST" action="upvote/<%= track.id %>" >
            <button type="submit">
                <span class="glyphicon glyphicon-heart-empty"></span>
                <%=track.votes.count  %>
            </button>
          </form>
        <% end %>

      </div>

      <img src="<%= track.url %>">
      
    </div>
      

      <div class="track_tag">
        <h4><a href="/tracks/<%= track.id %>"><%= track.title %></a> - <small><%= track.artist %></small></h4>
      </div>

      

    </div>
  <% end %>
</div>

<hr/>


<a href="/tracks/new">Add more Music to Our Collection!</a>
