<h1> All Tracks </h1>

<hr/>
<div class="container-fluid">
  <% @tracks.each do |track| %>
    <div class="track_card col-xs-2" >
      <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.artist %>)</small></h3>

        <img class="track_img" src="<%= track.url %>">

      <p>Contributor: <%= track.user.username %></p>
      <!-- /upvote/12 -->
      <form method="POST" action="upvote/<%= track.id %>" >

        <button type="submit">Upvote <%=track.votes.count  %></button>
      </form>
    </div>
  <% end %>
</div>

<hr/>


<a href="/tracks/new">Add more Music to Our Collection!</a>
